<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<false/>
	<key>02</key>
	<true/>
    <key>03</key>
	<true/>
    <key>04</key>
	<true/>
    <key>05</key>
	<true/>
    <key>06</key>
	<true/>
    <key>07</key>
	<true/>
    <key>08</key>
	<true/>
    <key>09</key>
	<true/>
    <key>10</key>
	<true/>
    <key>11</key>
	<true/>
	<key>12</key>
	<true/>
    <key>13</key>
	<true/>
    <key>14</key>
	<true/>
    <key>15</key>
	<true/>
    <key>16</key>
	<true/>
    <key>17</key>
	<true/>
    <key>18</key>
	<true/>
    <key>19</key>
	<true/>
    <key>20</key>
	<true/>
    <key>21</key>
	<true/>
	<key>22</key>
	<true/>
    <key>23</key>
	<true/>
    <key>24</key>
	<true/>
    <key>25</key>
	<true/>
    <key>26</key>
	<true/>
    <key>27</key>
	<true/>
    <key>28</key>
	<true/>
    <key>29</key>
	<true/>
    <key>30</key>
	<true/>
    <key>31</key>
	<true/>
	<key>32</key>
	<true/>
    <key>33</key>
	<true/>
    <key>34</key>
	<true/>
    <key>35</key>
	<true/>
    <key>36</key>
	<true/>
    <key>37</key>
	<true/>
    <key>38</key>
	<true/>
    <key>39</key>
	<true/>
    <key>40</key>
	<true/>
    <key>41</key>
	<true/>
	<key>42</key>
	<true/>
    <key>43</key>
	<true/>
    <key>44</key>
	<true/>
    <key>45</key>
	<true/>
    <key>46</key>
	<true/>
    <key>47</key>
	<true/>
    <key>48</key>
	<true/>
    <key>49</key>
	<true/>
    <key>50</key>
	<true/>
    <key>51</key>
	<true/>
	<key>52</key>
	<true/>
    <key>53</key>
	<true/>
    <key>54</key>
	<true/>
    <key>55</key>
	<true/>
    <key>56</key>
	<true/>
    <key>57</key>
	<true/>
    <key>58</key>
	<true/>
    <key>59</key>
	<true/>
    <key>60</key>
	<true/>
</dict>
</plist>
