<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>WorldID</key>
		<string>1</string>
		<key>WorldTitle</key>
		<string>Living Room</string>
	</dict>
	<dict>
		<key>WorldID</key>
		<string>2</string>
		<key>WorldTitle</key>
		<string>Kitchen</string>
	</dict>
	<dict>
		<key>WorldID</key>
		<string>3</string>
		<key>WorldTitle</key>
		<string>Study</string>
	</dict>
	<dict>
		<key>WorldID</key>
		<string>4</string>
		<key>WorldTitle</key>
		<string>Bedroom</string>
	</dict>
	<dict>
		<key>WorldID</key>
		<string>5</string>
		<key>WorldTitle</key>
		<string>toolhouse</string>
	</dict>
</array>
</plist>
